<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/users/<%=user.id%>/addCarTobiding" method="post">
  Car Name:<br>
  <input type="text" name="name">
  <br>
  Minimum Bid:<br>
  <input type="number" name="min_bid">
  <br>
  Maximum Bid:<br>
  <input type="number" name="max_bid">
  <br>
  Time Limit(hours):<br>
  <input type="number" name="time">
  <br>
  <input type="submit" value="Submit">
      
    </form>
  </body>
</html>