
<!DOCTYPE html>
<html class="font-sm" lang="en">
<head>

	<!--[if lt IE 9 ]><script>window.location = "/403.html";</script><![endif]-->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta http-equiv="x-ua-compatible" content="ie=edge">
<script type="text/javascript">window.NREUM||(NREUM={});NREUM.info={"beacon":"bam.nr-data.net","errorBeacon":"bam.nr-data.net","licenseKey":"19f98ab10d","applicationID":"168063","transactionName":"J11eFkVaDg1cEU1WFgdGWQ1ZagsVXA4RGBAMXUc=","queueTime":1,"applicationTime":119,"agent":""}</script>

<meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="/oLwKKFKscjJZ1L+6mJY3Ra9RPOSz1VSG9+zPlJ1r3V27umtfvtb0aOt8ljFGWyhEEkE4DuNgY/d+0A1YYjtNg==" />

<meta name="robots" content="noindex, nofollow">


<title>Apple iPhone (Black) | 32auctions</title>

	
	
	<link rel="stylesheet" media="all" href="style.css" />
	

</head>
<body id="page-top" class="auction auction-item show-item a-nb">

	

	<nav class="navbar navbar-dark bg-primary navbar-main">
	<div class="container">
		<a class="navbar-brand" href="/" aria-label="32auctions homepage"><span></span></a>
		<button class="navbar-toggler hidden-lg-up pull-xs-right" type="button" data-toggle="collapse" data-target="#navbar-content"
			aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navbar">
			<i class="fa fa-bars"></i>
		</button>
		<div class="collapse navbar-toggleable-md" id="navbar-content">
			<ul class="nav navbar-nav">
				

					<li class="nav-item">
						<a class="nav-link" href="/pages/overview.html">Overview</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/32auctionsDemo">Demo Auction</a>
					</li>
				<li class="nav-item">
					<a class="nav-link" href="/pages/help.html">Help</a>
				</li>
					<li class="nav-item">
						<a class="nav-link" href="/pages/pricing.html">Pricing</a>
					</li>
					<li class="nav-item gs">
						<a class="btn btn-pink nav-link" href="/pages/pricing.html">Get Started</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://www.32auctions.com/login">Login</a>
					</li>
			</ul>
		</div>
	</div>
</nav>

	<header class="">
	
</header>

	<nav id="auction-navbar" class="navbar navbar-light sticky">
	<div class="container">
		<ul>
			<li><a class="btn" title="Auction Home" href="https://www.32auctions.com/32auctionsDemo"><i class="fa fa-home"></i></a></li>
			<li><a class="btn" title="My Watchlist" href="/organizations/1/auctions/1?t=watchlist"><i class="fa fa-heart"></i><span>0</span></a></li>
			<li><a class="btn" title="My Bids" href="/organizations/1/auctions/1?t=my_bids"><i class="fa fa-star"></i><span>0</span></a></li>
			<li class="list-page-btn"><a class="btn" title="Item List" href="/organizations/1/auctions/1"><i class="fa fa-list"></i></a></li>

			<li class="filter">
				<select class="custom-select" data-apply-filter-url="https://www.32auctions.com/organizations/1/auctions/1">
	<optgroup label="Auction Filters"><option data-filter="t=all" selected="selected" value="all">All Items (13)</option>
<option data-filter="t=unsold" value="unsold">Unsold Items (12)</option>
<option data-filter="t=no_bids" value="no_bids">Items With No Bids (5)</option></optgroup><optgroup label="Item Categories"><option data-filter="t=category&amp;v=Art" value="category-Art">Art (1)</option>
<option data-filter="t=category&amp;v=Bidding+Ends+Early" value="category-Bidding Ends Early">Bidding Ends Early (2)</option>
<option data-filter="t=category&amp;v=Collectibles" value="category-Collectibles">Collectibles (2)</option>
<option data-filter="t=category&amp;v=Custom+Category" value="category-Custom Category">Custom Category (3)</option>
<option data-filter="t=category&amp;v=Dining" value="category-Dining">Dining (1)</option>
<option data-filter="t=category&amp;v=Electronics" value="category-Electronics">Electronics (2)</option>
<option data-filter="t=category&amp;v=Events" value="category-Events">Events (1)</option>
<option data-filter="t=category&amp;v=Gift+Certificates" value="category-Gift Certificates">Gift Certificates (3)</option>
<option data-filter="t=category&amp;v=Health+%26+Beauty" value="category-Health &amp; Beauty">Health &amp; Beauty (1)</option>
<option data-filter="t=category&amp;v=Home+%26+Garden" value="category-Home &amp; Garden">Home &amp; Garden (2)</option>
<option data-filter="t=category&amp;v=Specialty+Services" value="category-Specialty Services">Specialty Services (6)</option>
<option data-filter="t=category&amp;v=Travel" value="category-Travel">Travel (1)</option></optgroup>
</select>
			</li>

			<li class="search-input">
				<form action="/organizations/1/auctions/1" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
					<input type="hidden" name="t" id="t" value="search" />

					<div class="input-group">
						<input type="search" name="v" id="v" value="" class="form-control" maxlength="25" placeholder="Search" />
						<span class="input-group-btn">
							<button class="btn btn-secondary" type="submit">
								<i class="fa fa-search"></i>
							</button>
						</span>
					</div>
</form>			</li>
			<li class="search-btn">
				<button class="btn btn-secondary search-toggle" type="button" data-toggle="collapse" data-target="#search-bar" aria-expanded="false" aria-controls="search-bar">
					<i class="fa fa-search"></i>
				</button>
			</li>

		</ul>
	</div>

	<div id="search-bar" class="collapse">
		<form class="container search-form-sm" action="#" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
			<div class="input-group">
				<input type="search" name="search_val" id="search_val" value="" class="form-control" maxlength="25" placeholder="Search" />
				<span class="input-group-btn">
				<button class="btn btn-secondary" type="submit">
					<i class="fa fa-search"></i>
				</button>
			</span>
			</div>
</form>	</div>
</nav>


	<main class="brnd">
		<div class="container">
			

			


			


			
<div class="admin-msgs">
	
</div>


<div class="alert alert-warning fade in" role="alert">
	You need to be logged in to participate. Would you like to <strong><a href="/login">login now</a></strong> or <strong><a href="/users/new">create an account</a></strong>?
</div>



<div class="row">

	<div class="col-xs-12">
		<div class="title-section">
		<div class="item-nav-links">
		<a href="/organizations/1/auctions/1/goto?d=p&amp;item_id=1"><i class="fa fa-caret-left"></i> PREV</a><a href="/organizations/1/auctions/1/goto?d=n&amp;item_id=1">NEXT <i class="fa fa-caret-right"></i></a>
	</div>


	<h2 class="h4">Apple iPhone (Black)</h2>

	<div class="text-muted">Bidding ends at 10:00 pm CST on [some date]</div>
</div>

<div class="row">
	<div class="push-xl-4 col-xl-5 push-lg-4 col-lg-3 col-sm-5 col-xs-12">
		<span class="hidden-md-up">Next Bid: $125.00+</span>

		<span class="hidden-sm-down">Value: $299.00</span>

		&nbsp; 
	</div>

	<div class="push-xl-0 col-xl-7 push-lg-4 col-lg-5 col-sm-7 col-xs-12 text-sm-right"><div class="timer" data-asset-id="1" data-asset-type="auction_item">
	<a class="small" target="_blank" href="/pages/help.html#auction_16">At least</a>
	<span class="days"><span class="d">0</span>d</span>
	<span class="hours"><span class="h">00</span>h</span>
	<span class="m">00</span>m
	<span class="secs"><span class="s">00</span>s</span>
	Left
</div></div>
</div>
	</div>

	
<div class="col-lg-4 col-md-5 col-xs-12 float-left lg-viewer">
	<div class="img-section">
	

	<div class="img-box img-lg">
		
		<div class="inner">
			<img src="https://assets.32auctions.com/pics/54329/overview-camera-20100607_s550.jpg?v=20171024111046" alt="Overview camera 20100607 s550" />

			

			

			<i class="btn btn-sm btn-secondary fa fa-star icon" title="My Bids"></i>
		</div>
	</div>

		<div class="row thumbs">
				<div class="col-xs-3">
					<div class="img-box">
						<div class="inner">
							<img src="https://assets.32auctions.com/pics/54329/overview-camera-20100607_s550.jpg?v=20171024111046" alt="Overview camera 20100607 s550" />
						</div>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="img-box">
						<div class="inner">
							<img src="https://assets.32auctions.com/pics/138497/homescreen-hero-20100607_s550.png?v=20161025164308" alt="Homescreen hero 20100607 s550" />
						</div>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="img-box">
						<div class="inner">
							<img src="https://assets.32auctions.com/pics/54753/multitasking-switching-20100607_s550.jpg?v=20161025164308" alt="Multitasking switching 20100607 s550" />
						</div>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="img-box">
						<div class="inner">
							<img src="https://assets.32auctions.com/pics/54737/gallery01-20100607_s550.jpg?v=20161025164308" alt="Gallery01 20100607 s550" />
						</div>
					</div>
				</div>
		</div>

</div>

		<div class="lg-viewer-imgs" hidden>
				<a href="https://assets.32auctions.com/pics/54329/overview-camera-20100607.jpg?v=20171024111046" data-fancybox="lg-view-1" data-fancybox></a>
				<a href="https://assets.32auctions.com/pics/138497/homescreen-hero-20100607.png?v=20161025164308" data-fancybox="lg-view-1" data-fancybox></a>
				<a href="https://assets.32auctions.com/pics/54753/multitasking-switching-20100607.jpg?v=20161025164308" data-fancybox="lg-view-1" data-fancybox></a>
				<a href="https://assets.32auctions.com/pics/54737/gallery01-20100607.jpg?v=20161025164308" data-fancybox="lg-view-1" data-fancybox></a>
		</div>
</div>

	<div class="col-lg-8 col-md-7 col-xs-12 float-right">
		

<div class="row hidden-md-up">
	<div class="col-sm-5 col-xs-12">Value: $299.00</div>

	<div class="col-sm-7 col-xs-12 text-sm-right"><div class="timer" data-asset-id="1" data-asset-type="auction_item">
	<a class="small" target="_blank" href="/pages/help.html#auction_16">At least</a>
	<span class="days"><span class="d">0</span>d</span>
	<span class="hours"><span class="h">00</span>h</span>
	<span class="m">00</span>m
	<span class="secs"><span class="s">00</span>s</span>
	Left
</div></div>
</div>

<div class="card brnd-border activity-box">
	<div class="card-block">


			<form id="bid-form" class="bid-form" action="javascript:void(0);" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="TviKbd+mhXLvgBx5uiBqWIv877Zo4zpLDvRSLojemj7GlJPoABdva4VKvN+VW14kjQivpcGh7pbI0KEluyPYfQ==" />

				<div>
					<label class="col-lg-6 col-xs-12 h5" for="amount">Bidding</label>

					<div class="col-lg-6 col-xs-12 text-lg-right">Next Bid: <strong>$125.00+</strong></div>
				</div>



				<div class="col-lg-6 col-xs-12 hidden-md-down text-lg-right add-height">
					<div class="csp-amount-val" hidden>120.0</div>
					Current Bid: $120.00
				</div>

				<div class="col-lg-6 col-xs-12">
				</div>

				<div class="col-xs-12 hidden-lg-up">
					Current Bid: $120.00
				</div>

					<div class="col-lg-6 col-xs-12 text-lg-right add-height">
						Minimum Bid Increment: $5.00
					</div>

</form>
		<div class="col-xs-12"><hr /></div>

			<form id="bn-form" class="bn-form" action="javascript:void(0);" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="vdscEElvnVdg1qpZlQC8PmbgOWax4mQLyV4IHwco0HE1twWVlt53TgocCv+6e4hCYBR5dRigsNYPevsUNNWSMg==" />

				<label class="col-lg-6 col-xs-12 h5" for="amount">Buy Now</label>

				<div class="col-lg-6 col-xs-12 text-lg-right bn-price">Buy Now Price: <strong>$280.00</strong></div>

				<div class="hidden-md-down clearfix"></div>



</form>


			<div class="col-xs-12"><hr /></div>

			<label class=" col-xs-12 h6" for="amount">Bid History</label>


			<div class="hidden-md-down clearfix"></div>

			<div class="col-lg-6 col-xs-12">
					Number of Bids: 
						1
			</div>

			<div class="col-lg-6 col-xs-12 text-lg-right">
				
			</div>




	</div>
</div>

	<div class="row">

		<div class="col-sm-8 col-xs-12">
			
<div class="social-btns">
	<strong>Share</strong>
	<a class="social-btn social-fb" title="Share on Facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u="><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></a>
	<a class="social-btn social-twit" title="Share on Twitter" target="_blank" href="https://twitter.com/intent/tweet/?url=https%3A%2F%2Fwww.32auctions.com%2Forganizations%2F1%2Fauctions%2F1%2Fauction_items%2F1&amp;via=32auctions&amp;related=32auctions&amp;text=Check%20out%20this%20auction%20item%20Apple%20iPhone%20%28Black%29"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></a>
	<a class="social-btn social-pin" title="Share on Pinterest" target="_blank" href="https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.32auctions.com%2Forganizations%2F1%2Fauctions%2F1%2Fauction_items%2F1&amp;media=https%3A%2F%2Fassets.32auctions.com%2Fpics%2F54329%2Foverview-camera-20100607.jpg%3Fv%3D20171024111046&amp;description=Auction%20item%20%27Apple%20iPhone%20%28Black%29%27%20hosted%20online%20at%2032auctions."><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-pinterest-p fa-stack-1x fa-inverse"></i></span></a>
	<a class="social-btn social-email" title="Share by Email" href="mailto:?body=https%3A%2F%2Fwww.32auctions.com%2Forganizations%2F1%2Fauctions%2F1%2Fauction_items%2F1&amp;subject=Check%20out%20this%20auction%20item%20Apple%20iPhone%20%28Black%29%20%7C%2032auctions"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-envelope fa-stack-1x fa-inverse"></i></span></a>
</div>
		</div>

		<div class="col-sm-4 col-xs-12 text-sm-right wl-control">
				<strong class="hidden-sm-up">Watch</strong>
				<i class="btn btn-sm btn-secondary fa fa-heart icon wl-btn" data-item-id="1" title="My Watchlist"></i>

				<strong class="hidden-xs-down">Watch</strong>
		</div>

	</div>

	</div>

</div>

	<hr class="clearfix brnd-border" />

	<div class="row ad-section">
		<div class="col-xs-12">
					<div class="ad">
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<ins class="adsbygoogle"
				style="display:block"
				data-ad-client="ca-pub-6017730913651474"
				data-ad-slot="5035425258"
				data-ad-format="auto"></ins>
			<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
		</div>

		</div>
	</div>


<hr class="clearfix brnd-border" />

<div class="row">
	<div class="col-xs-12 details-section has-donors">

	<div class="item-desc col-lg-8">
		<h5>Item Description </h5>
		<div class="content"><div class="break-word"><p>This is the gold standard of phones.  It is a phone, an iPod, a web browser, a personal digital assistant and so much more.  Who needs a computer when you have an iPhone in your pocket?  This iPhone embodies Apple’s continuing environmental progress. It is designed with features to reduce environmental impact.  So you've got that going for you as well!</p>

<p>Feature highlights include:
<br> - Video calling
<br> - Retina display
<br> - HD video recording
<br> - Industry leading camera with LED flash
<br> - Noise suppression
<br> - Apple's fastest processor
<br> - Voice Control
<br> - TV and video output</p>

<p>Bidding on this item will end at 10:00 pm CST on [some date]. At that time, bidding on this specific item will end and will be awarded to the highest bidder.</p></div></div>
	</div>

	<div class="col-lg-4 floating-section">

		<div class="card brnd-border link-pink contact-box">
	<div class="card-block">
		<div>
			Have a question about this item or auction?
			<a target="_blank" href="https://www.32auctions.com/help?a=1&amp;c=a&amp;o=1">Contact&nbsp;Us</a>
</div>	</div>
</div>

			<div class="donor-section brnd-border">
				<h5>Donated By </h5>

				<div class="clearfix donors">

						
<div class="col-lg-6 col-md-3 col-sm-4 col-xs-6 donor-box">
	<div class="card">
			<div class="img-section">
	

	<div class="img-box img-lg">
		
		<div class="inner">
			<img src="https://assets.32auctions.com/pics/1281155/apple-logo-png-transparent_s300.png?v=20140610210556" alt="Apple logo png transparent s300" />

			

			

			
		</div>
	</div>


</div>
		<div class="card-block break-word">
			<a target="_blank" rel="nofollow" href="http://www.apple.com/iphone">Apple</a>
		</div>
	</div>
</div>


						
<div class="col-lg-6 col-md-3 col-sm-4 col-xs-6 donor-box">
	<div class="card">
			<div class="img-section">
	

	<div class="img-box img-lg">
		
		<div class="inner">
			<img src="https://assets.32auctions.com/pics/1281431/imageedit_5_4554494403_s300.png?v=20140611192622" alt="Imageedit 5 4554494403 s300" />

			

			

			
		</div>
	</div>


</div>
		<div class="card-block break-word">
			<a target="_blank" rel="nofollow" href="http://www.32auctions.com">Donor 2</a>
		</div>
	</div>
</div>

				</div>

			</div>

	</div>


		<div class=" col-lg-8">
			<h5>Pickup/Shipping Instructions </h5>
			<div class="content"><div class="break-word"><p>This is the location where you can provide details about how the items can be picked up, how shipping will be handled (if at all), and any information about how payments will be collected.  Include times, locations and any restrictions there may be for payment or delivery of items.  The information you share here is very helpful for winning bidders at the end of the auction.  Think like a winning bidder.  What would you need to know if you won an item in the auction?</p>

<p>NOTE:  This auction is for demonstration purposes only.  None of these items are being sold by 32auctions.  Each night our system removes all participants and deletes all bids entered into this demo auction.  This means the auction will be removed from your My Auction page.  So have fun entering bids and playing around with this auction.</p></div></div>
		</div>

		<div class=" col-lg-8">
			<h5>Shipping Options </h5>
<div class="table-responsive shipping-options-table">

	
<table class="table table-bordered table-hover table-sm table-striped">
	<thead class="thead-default">
		<tr>
			<th>Ship To</th>
			<th>Cost</th>
			<th colspan="1">With Another Item 
<a tabindex="0" class="btn  btn-sm btn-secondary popover-btn-inline" role="button" data-toggle="popover" title="With Another Item" data-content="When purchasing more than 1 item in a single invoice, the With Another Item shipping cost is applied to all items except the item with the highest primary shipping cost. The With Another Item shipping cost provides a way to offer a discount when more than 1 item is purchased. Please read &lt;a href=&#39;/pages/help.html#shipping_1&#39; target=&#39;_blank&#39;&gt;How is the total shipping cost calculated?&lt;/a&gt; and &lt;a href=&#39;/pages/help.html#shipping_2&#39; target=&#39;_blank&#39;&gt;How do I offer a combined shipping discount?&lt;/a&gt; for more information." data-container="body" data-placement="left">
	<i class="fa fa-info-circle"></i>
</a></th>
		</tr>
	</thead>

	<tbody>
				<tr>
					<td class="break-word">In-Person Pickup</td>
					<td>$0.00</td>
					<td>$0.00</td>
					
				</tr>
				<tr>
					<td class="break-word">Australia</td>
					<td>$3.50</td>
					<td>$1.75</td>
					
				</tr>
				<tr>
					<td class="break-word">Canada</td>
					<td>$2.75</td>
					<td>$1.25</td>
					
				</tr>
				<tr>
					<td class="break-word">United Kingdom</td>
					<td>$3.00</td>
					<td>$1.50</td>
					
				</tr>
				<tr>
					<td class="break-word">United States</td>
					<td>$2.50</td>
					<td>$1.00</td>
					
				</tr>
				<tr>
					<td class="break-word">Everywhere Else</td>
					<td>$8.00</td>
					<td>$3.50</td>
					
				</tr>
	</tbody>

</table>

</div>
		</div>


</div>
</div>



	<div class="item-nav-links">
		<a href="/organizations/1/auctions/1/goto?d=p&amp;item_id=1"><i class="fa fa-caret-left"></i> PREV</a><a href="/organizations/1/auctions/1/goto?d=n&amp;item_id=1">NEXT <i class="fa fa-caret-right"></i></a>
	</div>

		</div>
	</main>

	

	<footer>
	<nav class="navbar navbar-dark">
		<div class="container">
			<ul class="nav navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="/pages/about_us.html">About Us</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/pages/help.html">Help</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/pages/terms.html">Terms Of Use</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/pages/privacy.html">Privacy Policy</a>
				</li>
					<li class="nav-item pull-md-right gs">
						<a class="btn btn-pink nav-link" href="/pages/pricing.html">Get Started</a>
					</li>
			</ul>
			<div class="logo">
				<a href="/">
					<img alt="32auctions Logo" src="https://assets.32auctions.com/assets/rwd/logo/32_CircleOnly_white-8fc487e48d8595492b06c9308a7b09e00df001157195e7e3dfc2b67479da5d41.png" />
				</a>
			</div>
		</div>
	</nav>
</footer>

	
	<script src="https://assets.32auctions.com/assets/application-auction-rwd-5c6606d83347f01ba88f5467899844f3030bf3f519999027db59b5d29c835dcc.js"></script>
	
		<script src="https://assets.32auctions.com/assets/application-analytics-prod-605b019f7b4793fd0c3b42f0553c94b7366fc761b1736e8edadfa974abfa2707.js"></script>


</body>
</html>