
<!DOCTYPE html>
<html  lang="en">
<head>

	<!--[if lt IE 9 ]><script>window.location = "/403.html";</script><![endif]-->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta http-equiv="x-ua-compatible" content="ie=edge">




<title><%=title%> Detailing</title>

	
	
	<link rel="stylesheet" media="all" href="/style.css" />
	

</head>
<body id="page-top" class="auction auction-item show-item a-nb">

	

	
		<nav class="navbar navbar-dark bg-primary navbar-main">
		<div class="container">
			<a class="navbar-brand" href="/" aria-label="32auctions homepage"><span></span></a>
			<button class="navbar-toggler hidden-lg-up pull-xs-right" type="button" data-toggle="collapse" data-target="#navbar-content"
				aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navbar">
				<i class="fa fa-bars"></i>
			</button>
			<div class="collapse navbar-toggleable-md" id="navbar-content">
				<ul class="nav navbar-nav">
					

						<li class="nav-item">
							<a class="nav-link" href="/">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/profile">Profile</a>
						</li>
						<%if (!loggedIn) {%>
							<li class="nav-item gs">
							<a class="btn btn-pink nav-link" href="/register">Get Started</a>
							</li>
						<%}%>
						<li class="nav-item">
							<%if (loggedIn) {%>
								<a class="nav-link" href="/logout">Logout</a>
							<%} else { %>
								<a class="nav-link" href="/login">Login</a>
							<%}%>
						</li>
				</ul>
			</div>
		</div>
	</nav>
	<header class="">

	</header>

	<nav id="auction-navbar" class="navbar navbar-light sticky">
	<div class="container">
	  <ul>
	    <li><a class="btn" title="Auction Home" href="/"><i class="fa fa-home"></i></a></li>
	    <li><a class="btn" title="My Watchlist" href="#"><i class="fa fa-heart"></i><span>0</span></a></li>
	    <li><a class="btn" title="My Bids" href="/profile"><i class="fa fa-star"></i><span>
	      
	    </span></a></li>
	    <li class="list-page-btn"><a class="btn" title="Item List" href="/organizations/1/auctions/1"><i class="fa fa-list"></i></a></li>

	    <li class="filter">
	      <select class="custom-select" data-apply-filter-url="#">
	<optgroup label="Auction Filters"><option data-filter="t=all" selected="selected" value="all">All Items (13)</option>
	<option data-filter="t=unsold" value="unsold">Unsold Items (12)</option>
	<option data-filter="t=no_bids" value="no_bids">Items With No Bids (5)</option></optgroup><optgroup label="Item Categories"><option data-filter="t=category&amp;v=Art" value="category-Art">Art (1)</option>
	<option data-filter="t=category&amp;v=Bidding+Ends+Early" value="category-Bidding Ends Early">Bidding Ends Early (2)</option>
	<option data-filter="t=category&amp;v=Collectibles" value="category-Collectibles">Collectibles (2)</option>
	<option data-filter="t=category&amp;v=Custom+Category" value="category-Custom Category">Custom Category (3)</option>
	<option data-filter="t=category&amp;v=Dining" value="category-Dining">Dining (1)</option>
	<option data-filter="t=category&amp;v=Electronics" value="category-Electronics">Electronics (2)</option>
	<option data-filter="t=category&amp;v=Events" value="category-Events">Events (1)</option>
	<option data-filter="t=category&amp;v=Gift+Certificates" value="category-Gift Certificates">Gift Certificates (3)</option>
	<option data-filter="t=category&amp;v=Health+%26+Beauty" value="category-Health &amp; Beauty">Health &amp; Beauty (1)</option>
	<option data-filter="t=category&amp;v=Home+%26+Garden" value="category-Home &amp; Garden">Home &amp; Garden (2)</option>
	<option data-filter="t=category&amp;v=Specialty+Services" value="category-Specialty Services">Specialty Services (6)</option>
	<option data-filter="t=category&amp;v=Travel" value="category-Travel">Travel (1)</option></optgroup>
	</select>
	    </li>

	    <li class="search-input">
	      <form action="#" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
	        <input type="hidden" name="t" id="t" value="search" />

	        <div class="input-group">
	          <input type="search" name="v" id="v" value="" class="form-control" maxlength="25" placeholder="Search" />
	          <span class="input-group-btn">
	            <button class="btn btn-secondary" type="submit">
	              <i class="fa fa-search"></i>
	            </button>
	          </span>
	        </div>
	</form>			</li>
	    <li class="search-btn">
	      <button class="btn btn-secondary search-toggle" type="button" data-toggle="collapse" data-target="#search-bar" aria-expanded="false" aria-controls="search-bar">
	        <i class="fa fa-search"></i>
	      </button>
	    </li>

	  </ul>
	</div>

	<div id="search-bar" class="collapse">
	  <form class="container search-form-sm" action="#" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
	    <div class="input-group">
	      <input type="search" name="search_val" id="search_val" value="" class="form-control" maxlength="25" placeholder="Search" />
	      <span class="input-group-btn">
	      <button class="btn btn-secondary" type="submit">
	        <i class="fa fa-search"></i>
	      </button>
	    </span>
	    </div>
	</form>	</div>
	</nav>

